@font-face {
  font-family: 'Meslo Nerd Mono';
  src: url('https://bpillatsch.github.io/fontio/MesloLGS.Regular.Nerd.Font.Complete.Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

