@font-face {
  font-family: 'MesloLGS Nerd Font Mono';
  src: url('https://raw.githubusercontent.com/bpillatsch/fontio/main/MesloLGS.Regular.Nerd.Font.Complete.Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

